# Dependencies
node_modules/

# Build
build/
dist/
dist-react/
release/

# Coverage
coverage/

# macOS
.DS_Store

# Logs
*.log

# Environment
.env*
!.env.example

# Deploy
.vercel
kasir_app-main-2-backup-20-May-2026/
