# Dependencies
node_modules/

# Build
build/
dist/
dist-react/
release/

# Coverage
coverage/

# macOS
.DS_Store

# Logs
*.log

# Environment
.env*
!.env.example

# Deploy
.vercel

.env
.env.local
service-account.json
*.pem